/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Elemente-Stylesheet  FAU-Portal                                     */ 
/* $Id: basis.css,v 1.2 2012/06/18 09:57:40 unrz228 Exp $                                                     */      
/* Projekt Vorlagenkatalog http://www.vorlagen.uni-erlangen.de  -- - - */
/*                                                                     */
/* Basis-Stylesheet-Datei . f&uuml;r NN4 und Konsorten die Mist machen  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
   margin:0;
   padding:0;
}


body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100.01%; 
}   
